.git
.gitignore

.idea
.vscode
*.iml

*.log

target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes